extends ../layout

block content
  h1 Listagem de requisições
  hr
  br
  a(href="/requisicao/create" , title="Cadastrar" , class="btn btn-success") Cadastrar
  br
  br
  table(class="table")
    thead
      tr
        th Nome
        th Data da Criacao
        th Ações
    tbody
    each valor , i in lista
      tr
        td #{valor.s_nome}
        td #{valor.t_data_criacao}
        td
          a(href="/requisicao/edit/#{valor._id}" title="Editar" class="btn btn-info") Editar
          &nbsp
          a(href="/requisicao/show/#{valor._id}" title="Visualizar" class="btn btn-primary") Visualizar
