extends ../layout

block content
  h1 Alteração de Menu
  hr
  br
  form(action="/menu/edit/#{value._id}",method="POST" , role="form")
    input(type="hidden" name="_method" value="put")
    div(class="form-group")
      label Nome
      input(type="text" name="s_nome" value="#{value.s_nome}" class="form-control")
    input(type="submit" valur="Editar" class="btn btn-success")
  br
  br
  a(href="/menu" title="Voltar") Voltar