extends ../layout

block content
  h1 Cadastrar Grupo/Menu
  hr
  br
  form(action="/grupomenu" method="POST" role="form")
    div(class="form-group")
      label Grupo
      select(name="grupo_id" class="form-control")
        each grupo, i in grupos
          option(value="#{grupo._id}" name="grupo_id") #{grupo.s_nome}
    div(class="form-group")
      label Menu
      select(name="menu_id" class="form-control")
        each menu, i in menus
          option(value="#{menu._id}" name="menu_id") #{menu.s_nome}
    input(type="submit" value="Cadastro" class="btn btn-success")
    br
    br
    a(href="/grupomenu" title="Voltar") Voltar
