extends ../layout

block content
  h1 Grupo
  hr
  br
  h2= value.s_nome
  br
  form(method="POST", action="/grupo/delete/#{value._id}", role="form")
    input(type="hidden" name="_method" value="delete")
    input(type="submit" , value="Excluir", class="btn btn-danger")
  br
  a(href="/grupo" title="Voltar") Voltar
